.Form {
  text-align: center;
  background-color:aquamarine;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -0%);
  white-space: pre-wrap;
  box-sizing: border-box;
  border: solid;
  padding: 20px;
  width: 50%;
}
